.ClientTable {
  width: 100%;
  text-align: left;
}

table{
  margin: 5px 0;
  font-size: 12px;
  padding-right: 1rem;
  border-spacing: 0;
}

table td,
table th{
  padding: .7rem 0;
}

.ClientTable thead tr,
.ClientTable tbody tr{
  border-radius: 10px;
}

.ClientTable thead tr {
  color: #09CFA3;
  text-transform: uppercase;
  font-family: 'Avenir Black';
}

.ClientTable tbody tr{
  color: #737689;
  padding: 0 1rem;
  font-family: 'Avenir Medium';
}

.ClientTable tbody tr:nth-child(2n+1){
  background-color:  #E5E9EF;
}

.ClientTable tbody tr td{
  border: none;
}

.ClientTable thead tr th:first-child,
.ClientTable tbody tr td:first-child{
  padding-left: 1.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ClientTable thead tr th:last-child,
.ClientTable tbody tr td:last-child{
  padding-right: 1.5rem;
  text-align: right;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.root {
  display: flex;
  align-items: center;
  border: 1px solid rgba(184, 182, 182, 0.507);
  border-radius: 30px;
  width: 400px;
  background-color: #fff;
  padding: 0 1.5rem;
}

.root button {
  padding: .2rem;
}

.input {
  margin-left: 1px;
  flex: 1;
}

IconButton.iconButton {
  padding: 0;
}