p, h1,h2,h3,h4,a,Link,button{
  text-transform: uppercase;
}

div.main-router{
  display: grid;
  grid-template-columns: 150px auto;
}

div.main-router-grid{
  display: grid;
  grid-template-columns: 150px auto;
}

div.main-router ul li,
div.main-router ul li a{
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  div.main-router,
  div.main-router-grid {
    display:block;
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
  }
}