ul.FilterNav {
  display: flex;
  margin-top: 0;
  padding-left: 0;
}

ul.FilterNav li{
  margin: 0 10px;
}

ul.FilterNav li button {
  border-radius: 10px;
  background-color: #09D0A3;
  color: #fff;
  border: none;
  border-style: none;
  font-size: 16px;
  padding: 5px 10px;
}

.btn-list-filter{
  margin-bottom: 2rem;
  text-align: left;
}

.btn-list-filter Button{
  background-color: #09D0A3;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  opacity: 0.5;
  padding: 7px 15px;
  color: #fff;
}

.btn-list-filter Button:hover,
.btn-list-filter Button:active,
.btn-list-filter Button:focus {
  border:none;
  border-color: none;
  opacity: 1;
  background-color: #09D0A3;
  border-style: none;
  outline: none;
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

@media only screen and (max-width: 900px) {
  .btn-list-filter Button,
  ul.FilterNav li button{
    font-size: 12px;
  }

  .btn-list-filter{
    justify-content: center;
  }

  .btn-list-filter Button{
    padding: 4px 5px
  }
}