div.Result {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 150px auto;
}

div.Result div.result-grid-right div.result-content {
  max-width: 700px;
  margin: 0 auto;
}

div.Result div.result-grid-right div.result-content .result-content-title{
  font-size: 14px;
  color:  #737689;
}

div.Result div.result-grid-right div.result-content div.content-graphics{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.content-graphics .GraphicCircle{
  margin-right: 4rem;
}
div.content-graphics .GraphicBar {
  margin-left: 4rem;
}

@media only screen and (max-width: 900px) {
  div.Result div.result-grid-right div.result-content div.content-graphics,
  div.Result {
    display:block;
    margin-top: 0;
    padding-top: 0;
  }

  div.content-graphics .GraphicCircle{
    margin-right: 0;
  }
  div.content-graphics .GraphicBar {
    margin-left: 0;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.legend-graphic {
  font-family: "Avenir Roman";
  color:#4A4A4A;
  font-size: 10px;
}

.value-graphic{
  font-family: "Avenir Black";
  color: #4A4A4A;
  font-size: 12
}

div.d-flex.value-graphic p {
  margin-right: 10px;
}