div.Result {
  padding-top: 2rem;
}

div.result-content {
  max-width: 700px;
  margin: 0 auto;
}

.result-content-title{
  font-size: 14px;
  color:  #737689;
}

div.content-graphics{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.content-graphics .GraphicCircle{
  margin-right: 4rem;
}
div.content-graphics .GraphicBar {
  margin-left: 4rem;
}

@media only screen and (max-width: 900px) {

  div.Result {
    padding: 0 1rem;
  }

  div.content-graphics {
    display:block;
    margin-top: 0;
    padding-top: 0;
    align-items: center;
    text-align: center;
  }

  div.content-graphics .GraphicCircle{
    margin-right: 0;
  }
  div.content-graphics .GraphicBar {
    margin-left: 0;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.legend-graphic {
  font-family: "Avenir Roman";
  color:#4A4A4A;
  font-size: 10px;
}

.value-graphic{
  font-family: "Avenir Black";
  color: #4A4A4A;
  font-size: 12px;
}

div.d-flex.value-graphic p {
  margin-right: 10px;
}