.d-flex {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.rounded {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.banho-tosa{
  background-color:#BE2FBC;
}

.consultas{
  background-color:#6333B6;
}

.medicamentos{
  background-color:#4C7ABF;
}

div.d-flex div.d-flex p {
  font-family: "Avenir Roman";
  color:#4A4A4A;
  font-size: 10px;
}

div.d-flex div p{
  font-family: "Avenir Black";
  color: #4A4A4A;
  font-size: 12
}