.BarraHorizontal {
  border-bottom: 1px solid #7376892c;
  /*font-family: Avenir Heavy;*/
  color: #737689;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
}

@media only screen and (min-width: 400px) {
  div.iconButton-horizontal {
    display:block;
  }
}

.BarraHorizontal .iconButton-horizontal button{
  background-color: #737689;
  color: #dcdce1;
  padding: 5px;
}

.iconButton-horizontal {
  align-self: center;
  margin-left: 10px;
}

.BarraHorizontal .iconButton-horizontal button svg {
  font-size: 1rem;
}

.BarraHorizontal ul {
  display: flex;
  margin: 13px 0;
}

.BarraHorizontal ul li {
  margin: 0 1rem;
  text-decoration: none;
  list-style: none;
}

.BarraHorizontal ul li:nth-child(1){
  padding-right: 2rem;
  border-right: 2px solid #b8b8b877;
}