nav.nav-lateral {
  height: 100vh;
  background-color: #09CFA3;
  min-height: 100%;
  transition: all 400ms;
}

nav.nav-lateral.is-open {
  height: 100vh;
}

nav.nav-lateral ul.nav{
  padding: 3rem 0 0 0;
  margin: 0;
  list-style: none;
}

nav.nav-lateral ul.nav li {
  margin-bottom: 1rem;
  text-align: center;
}

nav.nav-lateral ul.nav li.logo svg{
  font-size: 5rem!important;
}

nav.nav-lateral ul.nav li,
nav.nav-lateral ul.nav li a {
  color: #FFF;
}

nav.nav-lateral ul.nav li a {
  text-decoration: none;
  transition: all 300ms;
  font-family: "Avenir Medium";
  font-size: 12px;
}

nav.nav-lateral ul.nav li a.default{
  color: #049C7A;
}

nav.nav-lateral ul.nav li a.active{
  color: #FFF;
}

nav.nav-lateral ul.nav li a:hover {
  color: #FFF;
}

@media only screen and (max-width: 900px) {
  nav.nav-lateral {
    opacity: 0;
    height: 0;
    display: none;
  }
}