ul.NavMainRouter li button {
  background: none;
  border: none;
  padding-top: 5px;
}

ul.NavMainRouter li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 13px;
}

ul.NavMainRouter li a{
  color: #737689;
  justify-content: center;
  display: contents;
}

@media only screen and (max-width: 900px) {
  ul.NavMainRouter {
    margin: 0;
    padding: 0;
  }

  ul.NavMainRouter li{
    margin: 1rem 1.5rem 1rem .5rem;
  }

  ul.NavMainRouter {
    display:flex;
    justify-items: center;
  }
}